.main-container {
    height: 100dvh;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 238px;

    @media (max-width: 475px) {
        position: relative;
        grid-template-rows: 100px auto 141px;
    }
}