$green-lvl-1: #66A060;
$yellow-lvl-1: #CEB02C;
$gray-lvl-1: #D3D6DA;
$gray-lvl-2: #939B9F;
$gray-lvl-3: #DADCE04D;
$gray-lvl-4: #939B9F4D;
$gray-lvl-5: #818181;
$white: #FFF;
$white-lvl-2: #F3F3F3;
$dark-lvl-1: #262B3C;
$dark-lvl-2: #262B3C;
$dark-lvl-3: #DADCE008;
$dark-lvl-4: #565F7E;

* {
    body.dark {
        background: $dark-lvl-2;
    }
}

.light {
    & .color {
        &-black {
            color: #000;
        }
        &-white {
            &-2 {
                color: $white-lvl-2;
            }
        }
        &-green {
            &-1 {
                color: $green-lvl-1;
            }
        }
        &-yellow {
            &-1 {
                color: $yellow-lvl-1;
            }
        }
        &-gray {
            &-1 {
                color: $gray-lvl-1;
            }
            &-2 {
                color: $gray-lvl-2;
            }
            &-3 {
                color: $gray-lvl-3;
            }
            &-5 {
                color: $gray-lvl-5;
            }
        }
    
        &-dark {
            &-1 {
                color: $dark-lvl-1;
            }
            &-2 {
                color: $dark-lvl-2;
            }
            &-3 {
                color: $dark-lvl-3;
            }
            &-4 {
                color: $dark-lvl-4;
            }
        }
    }

    & .bg {
        &-white {
            &-2 {
                background: $white-lvl-2;
            }
        }
        &-green {
            &-1 {
                background: $green-lvl-1;
            }
        }
        &-yellow {
            &-1 {
                background: $yellow-lvl-1;
            }
        }
        &-gray {
            &-1 {
                background: $gray-lvl-1;
            }
            &-2 {
                background: $gray-lvl-2;
            }
            &-3 {
                background: $gray-lvl-3;
            }
            &-5 {
                color: $gray-lvl-5;
            }
        }
    
        &-dark {
            &-1 {
                background: $dark-lvl-1;
            }
            &-2 {
                background: $dark-lvl-2;
            }
            &-3 {
                background: $dark-lvl-3;
            }
            &-4 {
                background: $dark-lvl-4;
            }
        }
    }
}
.dark {
    & .color {
        &-black {
            color: $white;
        }
        &-white {
            &-2 {
                color: $dark-lvl-3;
            }
        }
        
        &-green {
            &-1 {
                color: $green-lvl-1;
            }
        }
        &-yellow {
            &-1 {
                color: $yellow-lvl-1;
            }
        }
        &-gray {
            &-1 {
                color: $dark-lvl-1;
            }
            &-2 {
                color: $dark-lvl-2;
            }
            &-3 {
                color: $dark-lvl-3;
            }
            &-4 {
                color: $dark-lvl-4;
            }
            &-5 {
                color: $gray-lvl-5;
            }
        }    
        &-dark {
            &-1 {
                color: $dark-lvl-1;
            }
            &-2 {
                color: $dark-lvl-2;
            }
            &-3 {
                color: $dark-lvl-3;
            }
            &-4 {
                color: $dark-lvl-4;
            }
            &-5 {
                color: $gray-lvl-5;
            }
        }
    }

    & .bg {
        &-white {
            &-2 {
                background: $dark-lvl-3;
            }
        }
        &-green {
            &-1 {
                background: $green-lvl-1;
            }
        }
        &-yellow {
            &-1 {
                background: $yellow-lvl-1;
            }
        }
        &-gray {
            &-1 {
                background: $dark-lvl-1;
            }
            &-2 {
                background: $dark-lvl-2;
            }
            &-3 {
                background: $dark-lvl-3;
            }
            &-4 {
                background: $dark-lvl-4;
            }
        }    
        &-dark {
            &-1 {
                background: $dark-lvl-1;
            }
            &-2 {
                background: $dark-lvl-2;
            }
            &-3 {
                background: $dark-lvl-3;
            }
            &-4 {
                background: $dark-lvl-4;
            }
        }
    }
}